{% extends "main.html" %}

{% block content %}
  <h1>Home temp</h1>

  <div>
    <div>
        {% for room_test in rooms %}

            <div>
                <h5>
                    {{room_test.id}} -- <a href="{% url 'room' room_test.id %}">{{room_test.name}}</a>
                    <!-- because we render rooms in the base.views with home request, we can access the value from here 
                    note: Django url tag: https://www.geeksforgeeks.org/url-django-template-tag/
                    -->
                </h5>
            </div>

        {% endfor %}
    </div>
  </div>
{% endblock content %}
