{% extends "main.html" %}

{% block content %}
<table class="table table-striped table-hover">
    {% for e in form %}
    <tr>
        <td>
            <div class="card" style="width: 18rem;">
                <div class="card-header">
                    Patient: {{ e.name }}
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{e.address}}</li>
                    <li class="list-group-item">{{e.phone}}</li>
                    <li class="list-group-item">{{e.email_address}}</li>
                    <li class="list-group-item"><a href="#"><a class="btn
                                btn-primary"
                                href="{% url 'patient_update' e.id %}"
                                role="button">Edit</a></a>
                    </li>
                    <li class="list-group-item"><a class="btn
                                btn-danger"
                                href="{% url 'patient_delete' e.id %}"
                                role="button">Delete</a></a>
                    </li>
                </ul>
            </div>
        </td>
    </tr>

    {% endfor %}

</table>
{% endblock content %}
