{% extends "main.html" %}

{% block content %}

{% if form.errors %}
<div class="alert alert-warning alert-dismissible fade show"
    role="alert">
    There was an error with your form
    <button type="button" class="btn-close" data-bs-dismiss="alert"
        aria-label="Close"></button></div>
{% endif %}

<h1>Register temp</h1>
<form action="{% url 'register'%}" method=POST>
    {% csrf_token %}
    {{ form }}
    <br>
    <input type="submit" value="Submit" class="btn btn-secondary">

</form>
{% endblock content %}